*.olean
/_target
/leanpkg.path
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fdb_latexmk
*.synctex.gz
docs/poster/M1RposterL.log
docs/poster/M1RposterL.synctex.gz
docs/poster/M1RposterL.log
docs/poster/M1RposterL.fls
docs/poster/M1RposterL.aux
